/* TODO: 1. 修改 "form-box" 的样式
  1. 设置　width: 360px;
  2. 设置　margin: 90px auto 0 auto;
*/
.form-box{

}

.form-bg{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}


/* TODO: 2. 修改 "body" 的样式
  2. background: #f9f9f9;
*/
.body{
  -webkit-box-shadow: 0px 2px 3px 0px rgba(194,194,194,0.5);
  -moz-box-shadow: 0px 2px 3px 0px rgba(194,194,194,0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

/* TODO: 3. 添加一个名为 "logoCenter" 的样式
  1. 使图片距离 top 30px
  2. 居中显示
*/
.logoCenter{

}

/*　TODO: 4. 完善 logoCenterText,　使字体颜色变成 "#017FE5" */
.logoCenterText{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.form-login{
	margin-top: 13px;
	margin-bottom: 1px;
}

.form-control{
    padding-left: 12px;
    border: 1px solid #eaeaea !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    height: 40px !important;
    width:85% !important;
}

.form-control1{
  padding-left: 12px;
  border: 1px solid #eaeaea !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  height: 40px !important;
  width:30%
}

/* TODO: 5. 添加一个名为 "captchaInput" 的样式
    1. 设置 position 为 position;
    2. 设置左对齐
*/
.captchaInput{
    width: 50% !important;
    margin-left: 5%;
}

/* TODO: 6. 添加一个名为 "loginButton" 的样式
    1. 设置字体大小 14px;
    2. 设置字的颜色 #fff
    3. 设置对其方式 居中
*/
.loginButton{
    display: inline-block;
    padding: 6px 12px;
    border-color: rgb(12,110,190) !important;
    border-radius: 3px;
    background-image: -moz-linear-gradient(90deg,rgb(1,127,229) 0%,rgb(21,138,222) 100%);
    background-image: -webkit-linear-gradient(90deg,rgb(1,127,229) 0%,rgb(21,138,222) 100%) !important;
    background-image: -ms-linear-gradient(90deg,rgb(1,127,229) 0%,rgb(21,138,222) 100%);
}

/* TODO: 7. 添加一个名为 "footer" 的样式
    1. 设置 height　为 60px;
    2. 设置 margin-top 为 40px;
    3. 设置 margin-left 为 5%;
    4. 设置 margin-right 为5%;
*/
.footer{

}

.downloadUrl{
  text-align: center;
}





